
.social a {
	font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;
}
.fa-google-plus-g {
	color: #dd4b39;
}
.fa-instagram {
	color: #517fa4;
}
.fa-youtube {
	color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: yellow;
}
footer {
	padding-top: 10px;
	background-color: #3f3f3f;
	color: #d5d5d5;
}
hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
}
hr.light-1 {
	border-top: 2px solid #d5d5d5;
	width: 50%;
}
